{% extends 'base.html.twig' %}
{% block title %}
    Account
{% endblock %}
{% block body %}
<main class="main">
    {% include 'header_main.html.twig' %}
    <div class="animated fadeIn">

        <!-- Page Header-->
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <h3 class="display-4">Datos bancarios</h3>
                <p class="lead">Agrega los datos de tu cuenta bancaria a la cual transferiras tus ganancias diarias desde tu cuenta con <strong>cuckeat</strong></p>
            </div>
        </div>

        <div class="row">

            <div class="col-lg-12 col-sm-6">
                <div class="card">
                    <div class="card-header">
                        <strong>Cuenta bancaria</strong>
                    </div>
                    <div class="card-body">
                        <div class="row">

                            <div class="col-sm-12">

                                <div class="form-group">
                                    <label for="name">Nombre</label>
                                    <input type="text" class="form-control" id="name" placeholder="Ingresa tu nombre" wtx-context="AA9B49D1-AC4F-4263-A099-50EA8A9EDB19">
                                </div>

                            </div>

                        </div>
                        <!--/.row-->

                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label for="ccnumber">Numero de cuenta</label>
                                    <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000" wtx-context="D9F5384C-090F-414C-9B3C-2FF56861DB7A">
                                </div>
                            </div>
                        </div>
                        <!--/.row-->
                        <button  class="btn btn-outline-primary col-auto">Agregar cuenta bancaria</button>

                    </div>
                </div>

            </div>

        </div>
    </div>

{% endblock %}