{% extends 'base.html.twig' %}
{% block title %}
    Actividad
{% endblock %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
{% block body %}
<main class="main">
    {% include 'header_main.html.twig' %}
    <div class="container-fluid">
        <div class="animated fadeIn">
            <!-- Page Header-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3 class="display-4">Movimientos y mas</h3>
                    <p class="lead">Revisa tu actividad con Cuckeat</p>
                </div>
            </div>

            <div class="row">

                <!-- TABLA DE MOVIMIENTOS  -->
                <div class="col-lg-12 col-sm-12">
                    <div class="card">
                        <div class="card-header">
                            <strong>Movimientos</strong>
                        </div>
                        <div class="card-body">
                            <table class="table table-responsive-sm table-bordered table-striped table-sm">
                                <thead>
                                    <tr>
                                        <th>Card/POS</th>
                                        <th>Fecha y hora</th>
                                        <th>Monto</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {#----------INICIO--------------#}
                                    {% for data in actividad %}
                                        <tr>
                                            <td>{{data.paymentMethod}}</td>
                                            <td>{{data.timestamp.timestamp | date('Y-m-d H:i:s')}}</td>
                                            <td>{{data.amount}}</td>
                                        </tr>
                                    {% endfor %}
                                  
                                    
                                    {#----------FIN--------------#} 
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
                <!-- FIN TABLA DE MOVIMIENTOS  -->
            </div>
        </div>
    </div>
</main>
{% endblock %}
