{% extends 'base.html.twig' %}
{% block title %}
    Account
{% endblock %}
{% block body %}
    <main class="main">
        <div class ="container-fluid">
    {% include 'header_main.html.twig' %}
    
    <div class="animated fadeIn">

    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Configuracion de tu cuenta</h3>
            <p class="lead">Aqui podras encontrar la configuracion referente a la administracion de tu cuenta Cuckeat</p>
        </div>
    </div>

            <!-- CONFIGURACION DE CONTRASEÑA   -->
    <div class="card">
                <!-- TITULO -->
                      <div class="card-header">
                      <h4 class="card-title">Contraseña</h4>
                      </div>

                      <div class="card-body">
                        <div class="form-group">
                            <div class="row">
                                
                            {{form_start (form) }}
                            {{form_end (form) }}

                            </div>
                          </div>
                      </div>
                      </div>

              <!-- CONFIGURACION DE CAFETERIAS   -->
              <div class="card">
                <!-- TITULO -->
                <div class="card-header">
                <h4 class="card-title">Cafeterias</h4>
                </div>

                <div class="card-body">
                  {{form_start (configuration) }}
                   {{form_end (configuration) }}
                </div>
                </div>


              <!-- CONFIGURACION DE NOTIFICACIONES  -->

   
    </div>
  </div>
   
    </main>
{% endblock %}