{% extends 'base.html.twig' %}
{% block title %} Quienes somos {% endblock title %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
    
{% block body %}
<main class="main">
    <br>

<div class="container-fluid">
<div class="animated fadeIn">
    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Quienes somos</h3>
            <DIV ALIGN="justify">
                <br>
                <br>
            <p class="lead">Fundada en 2018, TUEAT es una comunidad  que ofrece servicios ent-to-end a cafeterias universitarias, creando asi
                la plataforma ideal para que cualquier cafeteria universitaria del mundo forme parte de la revolución tecnologica 
                que se esta viviendo en la actualidad.
                <br>TUEAT te permitira generar mayores ganancias, obtener datos potenciales para el 
                desarollo y mejora de tu empresa, ofrecer mejores y modernos servicios a tus clientes, 
                y enfocarte en mejorar tu empresa mientras TUEAT te apoya con la administración de la misma.
               
                TUEAT hace uso de la tecnologia y la innovación para apoyar en el desarrollo y economia de las miles de cafeterias
                universitarias del mundo; sin perder la clave de ofrecer un servicio de excelente calidad para los clientes.
                Todo esto lo reunimos en un facil y bello sistema conformado por una app, un punto de venta y un panel de admnistrador
                en web.</p> </div>
        </div>
    </div>
    
  </div>
    </div>
</main>
{% endblock %}
