{% extends 'base.html.twig' %}
{% block title %} Ayuda {% endblock title %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
    
{% block body %}
<main class="main">

<br>

<div class="container-fluid">
<div class="animated fadeIn">
    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">¿Estas perdido?</h3>
            <p class="lead">Si tienes alguna duda sobre el funcionamiento del sistema "Admin TUEAT"
                revisa las preguntas frecuentes, si aun no se resuelve tu duda, envianos un mensaje
                al correo <a> helpadmin@tueat.co </a></p>
        </div>
    </div>


    <div id="accordion" role="tablist">

        <!-- PREGUNTA # -->
        <div class="card">
            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        ¿Como funciona el dashboard?
                    </h8>
                </div>
            </a>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                 EXPLICACIÓN 
                    
                <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
            <div class="card-header" role="tab" id="headingTwo">
                <h8 class="mb-0">

                        ¿Como puedo cambiar mi contraseña?
                </h8>
            </div>
            </a>

            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                 EXPLICACIÓN
                <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
            <div class="card-header" role="tab" id="headingThree">
                <h8 class="mb-0">

                        ¿Como configuro mi(s) cafeteria(s)?

                </h8>
            </div>
          </a>
            <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->

        <div class="card">
          <a data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
            <div class="card-header" role="tab" id="headingFour">
                <h8 class="mb-0">

                        ¿Como reviso mis ultimas ventas con TUEAT?

                </h8>
            </div>
            </a>
            <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="headingFour" data-parent="#accordion">
         <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>


        <!-- PREGUNTA # -->
        <div class="card">
            <a data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
            <div class="card-header" role="tab" id="headingFive">
                <h8 class="mb-0">

                        ¿Como recibo mis ganancias recibidas por pagos electronicos TUEAT?

                </h8>
            </div>
            </a>
            <div id="collapseFive" class="collapse" role="tabpanel" aria-labelledby="headingFive" data-parent="#accordion">
                   <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseSix" aria-expanded="true" aria-controls="collapseSix">
            <div class="card-header" role="tab" id="headingSix">
                <h8 class="mb-0">

                        ¿Como configuro el menu de mi cafeteria?

                </h8>
            </div>
                  </a>

            <div id="collapseSix" class="collapse" role="tabpanel" aria-labelledby="headingSix" data-parent="#accordion">
               <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseSeven" aria-expanded="true" aria-controls="collapseSeven">
            <div class="card-header" role="tab" id="headingSeven">
                <h8 class="mb-0">
                        ¿Como configuro los extras de mis productos?

                </h8>
            </div>
            </a>
            <div id="collapseSeven" class="collapse" role="tabpanel" aria-labelledby="headingSeven" data-parent="#accordion">
              <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
            <a data-toggle="collapse" data-target="#collapseEight" aria-expanded="true" aria-controls="collapseEight">
            <div class="card-header" role="tab" id="headingEight">
                <h8 class="mb-0">

                      ¿Como reviso mi inventario?

                </h8>
            </div>
            </a>

            <div id="collapseEight" class="collapse" role="tabpanel" aria-labelledby="headingEight" data-parent="#accordion">
               <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
            <a data-toggle="collapse" data-target="#collapseNine" aria-expanded="true" aria-controls="collapseNine">
            <div class="card-header" role="tab" id="headingNine">
                <h8 class="mb-0">

                      ¿Como funciona la personalización del menú?

                </h8>
            </div>
              </a>

            <div id="collapseNine" class="collapse" role="tabpanel" aria-labelledby="headingNine" data-parent="#accordion">
                   <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>

        <!-- PREGUNTA # -->
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseTen" aria-expanded="true" aria-controls="collapseTen">
            <div class="card-header" role="tab" id="headingTen">
                <h8 class="mb-0">

                        ¿Como configuro los usuarios del punto de venta?

                </h8>
            </div>
            </a>
            <div id="collapseTen" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
                <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>
        
                <!-- PREGUNTA # -->
        <div class="card">
          <a data-toggle="collapse" data-target="#collapseEleven" aria-expanded="true" aria-controls="collapseTen">
            <div class="card-header" role="tab" id="headingTen">
                <h8 class="mb-0">

                        ¿Como genero reportes y que información puedo incluir?

                </h8>
            </div>
            </a>
            <div id="collapseEleven" class="collapse" role="tabpanel" aria-labelledby="headingTen" data-parent="#accordion">
                <div class="card-body">
                  EXPLICACION
                  <br><br> Disfruta de "Admin TUEAT".
                </div>
            </div>
        </div>



    </div>

  </div>
    </div>
</main>
{% endblock %}
