{% extends 'base.html.twig' %}
{% block title %} Politica de privacidad {% endblock title %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
    
{% block body %}
<main class="main">
<br>


<div class="container-fluid">
<div class="animated fadeIn">
    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Politica de privacidad</h3>
            <p class="lead">¡Gracias por elegir TUEAT! <br><br>
                En TUEAT, queremos darle la mejor experiencia posible para garantizar que disfrute de nuestro servicio hoy, 
                mañana y en el futuro. Para ello, necesitamos entender sus hábitos de consumo con el objeto de ofrecer un servicio 
                excepcional y personalizado específicamente para usted. Dicho esto, su privacidad y la seguridad de sus datos personales es,
                y será siempre, enormemente importante para nosotros. Por lo tanto, queremos explicar de forma transparente cómo y 
                por qué recopilamos, almacenamos, compartimos y utilizamos sus datos personales, así como describir los controles y 
                las opciones que tiene sobre cuándo y cómo elegir compartir los mismos.

                Ese es nuestro objetivo, y en esta Política de privacidad (“Política”) se explicará exactamente y en detalle
                nuestra intención a continuación.
                
                </p>
        </div>
    </div>



    
    
    
    
    <div id="accordion" role="tablist">

        <!-- Termino 1 -->
        <div class="card">
            <a data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        Termino 1
                    </h8>
                </div>
            </a>

            <div id="collapseOne" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                Descripción termino 1
                </div>
            </div>
        </div>
        
                <!-- Termino 2 -->
        <div class="card">
            <a data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        Termino 2
                    </h8>
                </div>
            </a>

            <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                Descripción termino 
                </div>
            </div>
        </div>





    </div>

  </div>
    </div>
</main>
{% endblock %}
