{% extends 'base.html.twig' %}
{% block title %} Tutorial {% endblock title %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
    
{% block body %}
<main class="main">
<br>


<div class="container-fluid">
<div class="animated fadeIn">
    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Bienvenido al tutorial de "Admin TUEAT"</h3>
            <p ALIGN="justify" class="lead">En TUEAT sabemos que a veces es mas facil aprender el uso de un sistema nuevo con un tutorial, 
                por eso nos hemos dado a la tarea de mostrarte para que sirve cada una de las funcionalidades de "Admin TUEAT". 
                Cada opcion del sistema tiene un icono, buscalo en este tutorial y te mostraremos como funciona esa parte del sistema</a></p>
        </div>
    </div>

       <!-- GENERAL -->
    <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapseGeneral" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-menu"></i>
                        Inicio
                    </h8>
                </div>
            </a>
            
             <div id="collapseGeneral" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <br>
                  
     <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card  card-accent-secondary">
        <div class="card-header">
          <i class="fa fa-coffee"></i>Cafeterias
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
      
    <div class="col-sm-6 col-md-4 col-lg-12">
      <div class=" card card-accent-secondary">
        <div class="card-header">
          <i class="icon-speedometer"></i>Dashboard
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>   
   
                                
            </div>             
        </div> 
        <!-- FIN GENERAL-->
    
    
    <!-- TUEAT PERFIL -->
        <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapseAdminProfile" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-home"></i>
                        Administrador
                    </h8>
                </div>
            </a>
            
             <div id="collapseAdminProfile" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <br>
                                    
                <div class="col-sm-6 col-md-4 col-lg-12">
                  <div class="card card-accent-secondary">
                    <div class="card-header">
                      <i class="icon-user"></i>Información personal
                    </div>
                    <div class="card-body">
                      Explicación
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-12">
                  <div class="card card-accent-secondary">
                    <div class="card-header">
                      <i class="icon-settings"></i>Configuración
                    </div>
                    <div class="card-body">
                      Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex
                      ea commodo consequat.
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-12">
                  <div class="card card-accent-secondary">
                    <div class="card-header">
                      <i class="icon-flag"></i>Actividad
                    </div>
                    <div class="card-body">
                      Explicación
                    </div>
                  </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-12">
                  <div class="card card-accent-secondary">
                    <div class="card-header">
                      <i class="icon-credit-card"></i>Balance
                    </div>
                    <div class="card-body">
                      Explicación
                    </div>
                  </div>
                </div>
  

            </div>
              
        </div>  
    <!-- FIN TUEAT PERFIL -->

    <!-- TUEAT MENU -->
        <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapseMenu" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-book-open"></i>
                        Menú
                    </h8>
                </div>
            </a>
            
             <div id="collapseMenu" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <br>
     
                      
      <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-grid"></i>Categorias
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
     
          <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card  card-accent-secondary">
        <div class="card-header">
          <i class="icon-note"></i>Productos
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
     
         <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card  card-accent-secondary">
        <div class="card-header">
          <i class="icon-cup"></i>Paquetes
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>   
                
            </div>           
        </div>  
    <!-- FIN TUEAT MENU -->
    
      <!-- TUEAT APP -->
    <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapsePersonalizaMenu" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-screen-smartphone"></i>
                        Personaliza tu menú
                    </h8>
                </div>
            </a>
            
             <div id="collapsePersonalizaMenu" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <br>
         
                      
    
   <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-puzzle"></i>Arrastra y suelta
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div> 
 
                                              
            </div>             
        </div> 
        <!-- FIN TUEAT APP -->
          
        <!-- TUEAT POS -->
    <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapsePOS" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-screen-desktop"></i>
                        Punto de venta
                    </h8>
                </div>
            </a>
            
             <div id="collapsePOS" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <br>
                  
                      
             <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-check"></i>Accesos
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
                                
            </div>             
        </div> 
        <!-- FIN TUEAT POS -->
        
    <!-- TUEAT DATOS -->
    <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapseDatos" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-folder"></i>
                        Reportes
                    </h8>
                </div>
            </a>
            
             <div id="collapseDatos" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                    <br>
              
                    <div class="col-sm-6 col-md-4 col-lg-12">
                     <div class="card card-accent-secondary">
                       <div class="card-header">
                         <i class="icon-book-open"></i>Datos
                       </div>
                       <div class="card-body">
                        Explicación
                       </div>
                     </div>
                   </div>
                                            
            </div>             
        </div> 
    <!-- FIN TUEAT DATOS -->
        
    <!-- TUEAT -->
    <div class="card card-accent-orange ">
            <a data-toggle="collapse" data-target="#collapseTueat" aria-expanded="true" aria-controls="collapseOne">
                <div class="card-header" role="tab" id="headingOne">
                    <h8 class="mb-0">
                        <i class="icon-info"></i>
                        Acerca de 
                    </h8>
                </div>
            </a>
            
             <div id="collapseTueat" class="collapse" role="tabpanel" aria-labelledby="headingOne" data-parent="#accordion">
                 <br>
                 
  <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-emotsmile"></i>Quienes somos
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
     
   <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-envelope-letter"></i>Privacidad y terminos
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
     
     
       <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-question"></i>Ayuda
        </div>
        <div class="card-body">
         Explicación
        </div>
      </div>
    </div>
     
    <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-cursor"></i>Tutorial
        </div>
        <div class="card-body">
          Explicación
        </div>
      </div>
    </div>
     
         <div class="col-sm-6 col-md-4 col-lg-12">
      <div class="card card-accent-secondary">
        <div class="card-header">
          <i class="icon-power"></i>Cerrar sesión
        </div>
        <div class="card-body">
         Explicación
        </div>
      </div>
    </div>
                                 
            </div>             
        </div> 
    <!-- FIN TUEAT -->    

  </div>
    </div>
</main>
{% endblock %}
