{% extends 'base.html.twig' %}
{% block title %}
    Category
{% endblock %}
{% block classBody 'app header-fixed sidebar-fixed aside-menu-fixed aside-menu-hidden aside-menu-off-canvas' %}
{% block body %}
<main class="main">
    {% include 'header_cafeteria.html.twig' %}
    <div class="container-fluid">
        <div class="animated fadeIn">
            <!-- Page Header-->
            <div class="jumbotron jumbotron-fluid">
                <div class="container">
                    <h3 class="display-4">Vamos a crear la categorias de tu menu</h3>
                    <p class="lead">Crea categorias y subcategorias de tu menu</p>
                    {% if message is not empty %}
                        <p class="lead"> <b>{{message}}</b> </p>
                    {% endif %}    
                </div>
            </div>
            <!-- COMFIGURACION DE CATEGORIAS   -->
            <div class="card">
              <!-- TITULO -->
                <div class="card-header">
                    <h4 class="card-title">Cafeterias</h4>
                </div>
                <div class="card-body">
                    {{form_start (formCreateMenu) }}
                    {{form_end (formCreateMenu) }}
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}
