<div class="container-fluid">
    <div class ="row">
        {{ form_start(form,{'action':path('create',{'cafeteria': cafeteria, 'context': context})}) }}
        {{ form_end(form) }}
    </div>
</div>