<div class="container-fluid">
    <div class="row">
        {{form_start(form,{'action': path('resources',{'context': 'menu', 'id': menu.id })})}}
    
    
       
        {{form_end(form)}}
    </div>
</div>
 