<footer class="app-footer">
      <span><a target="_top" href="https://tueat.co">Tueat  </a>&copy;2018</span>
      <span class="ml-auto">Powered with <i class="fa fa-heart mt-1 text-danger"></i>
         by   <a target="_top" href="https://taitech.co">TAITechnologies</a></span>
</footer>