<!-- HEADER MAIN -->
      <div class="page-header">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-7">
              <h1 class="h2 page-title">Buenos días, Enrique Castellanos</h1>
              <div class="text-muted page-desc">Bienvenido a tu panel de administración</div>
            </div>

            <div class="col-md-5 charts ui-sortable">
                          <div class="row">
                            <div class="col-12 col-sm-4 ui-sortable">
                              <div class="chart-wrapper" style="height:33px"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="header-chart-1" class="chart chartjs-render-monitor" height="33" width="125" style="display: block; width: 125px; height: 33px;"></canvas>
                              </div>
                              <div class="text-center title">
                                <span class="text-muted">Ingresos: </span>
                                <strong>$189.128</strong>
                              </div>
                            </div>
                            <div class="col-6 col-sm-4 ui-sortable">
                              <div class="chart-wrapper" style="height:33px"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="header-chart-2" class="chart chartjs-render-monitor" height="33" width="125" style="display: block; width: 125px; height: 33px;"></canvas>
                              </div>
                              <div class="text-center title">
                                <span class="text-muted">Ordenes</span>
                                <strong class="text-danger">1.128</strong>
                              </div>
                            </div>
                            <div class="col-6 col-sm-4 ui-sortable">
                              <div class="chart-wrapper" style="height:33px"><div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"><div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div></div><div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;"><div style="position:absolute;width:200%;height:200%;left:0; top:0"></div></div></div>
                                <canvas id="header-chart-3" class="chart chartjs-render-monitor" height="33" width="125" style="display: block; width: 125px; height: 33px;"></canvas>
                              </div>
                              <div class="text-center title">
                                <span class="text-muted">Clientes</span>
                                <strong class="text-success">2.345</strong>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>
                </div>
      <!-- Breadcrumb -->
      <ol class="">
      </ol>
      <!-- fin Breadcrumb -->
<!-- FIN HEADER MAIN -->