
    <div class="sidebar">
 <!-- sidebar header-->
      <div class="sidebar-header">

        <button type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <!--<img src="img/avatars/cafeteria.png" class="img-avatar" alt="Avatar"> -->
          <i class="fa fa-coffee fa-3x"></i>
        </button>
        <div class="divider" ></div>
        <div>
          <strong>Administrador</strong>
        </div>
        <div class="text-muted">
          <small>Cuckoo Box</small>
        </div>

            <div class="dropdown-menu">
              <div class="dropdown-header text-center">
                <strong>Mis cafeterias</strong>
              </div>
              <a class="dropdown-item" href="#"><i class="fa fa-user-o"></i> Cuckoo Coffee</a>
              <a class="dropdown-item" href="#"><i class="fa fa-user-o"></i> Cuckoo Box</a>
              <a class="dropdown-item" href="#"><i class="fa fa-lock"></i> Cerrar sesión</a>
            </div>

      </div> <!-- sidebar header-->

      <nav class="sidebar-nav">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="{{path('dashboard', {'cafeteria': cafeteria }) }}"><i class="icon-speedometer"></i> Dashboard </a>
          </li>
          <li class="divider"></li>

<!-- CUCKEAT ADMIN -->
<li class="nav-title">
  CUCKEAT PERFIL
</li>

<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-user"></i>Administrador</a>
  <ul class="nav-dropdown-items">

    <li class="nav-item">
      <a class="nav-link" href="profile/settings.html"><i class="icon-settings"></i>Información personal</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile/payment.html"><i class="icon-credit-card"></i>Configuración</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile/payment.html"><i class="icon-credit-card"></i>Actividad</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile/payment.html"><i class="icon-credit-card"></i>Balance</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="profile/payment.html"><i class="icon-credit-card"></i>Bancos y tarjetas</a>
    </li>

  </ul>
</li>
<!-- FIN CUCKEAT ADMIN -->

<!-- CUCKEAT MENU -->
          <li class="nav-title">
            Cuckeat menú
          </li>

          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-book-open"></i>Menú</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="menu/category.html"><i class="icon-grid"></i>Categorias</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="menu/ingredient.html"><i class="icon-note"></i>Productos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="menu/product.html"><i class="icon-cup"></i>Bundles</a>
              </li>
            </ul>
          </li>
<!--FIN CUCKEAT MENU -->

<!-- CUCKEAT APP -->
          <li class="nav-title">
            Cuckeat app
          </li>
          <!-- FORMS OPTION -->
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-screen-smartphone"></i>Personaliza tu App</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="creator/dragdrop.html"><i class="icon-puzzle"></i> Arrastra y suelta</a>
              </li>

            </ul>
          </li>
<!-- FIN CUKEAT APP -->

<!-- CUCKEAT POS -->
<li class="nav-title">
  Cuckeat POS
</li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-screen-desktop"></i> Punto de venta</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="pointofsale/access.html"><i class="icon-check"></i>Acceso</a>
              </li>
            </ul>
          </li>
<!-- FIN CUKEAT POS -->


<!-- CUKEAT REPORTES -->
<li class="nav-title">
  CUCKEAT DATOS
</li>
<li class="nav-item nav-dropdown">
  <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-folder"></i>Reportes</a>
  <ul class="nav-dropdown-items">
    <li class="nav-item">
      <a class="nav-link" href="data/session.html"><i class="icon-book-open"></i>Corte de Caja</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="data/income.html"><i class="icon-wallet"></i>Ingresos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="data/product.html"><i class="icon-basket-loaded"></i>Productos</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="data/user.html"><i class="icon-people"></i>Usuarios</a>
    </li>
  </ul>
</li>
<!-- FIN CUKEAT REPORTES -->


          <li class="divider m-2"></li>
          <li class="divider m-2"></li>

          <li class="nav-title">
            SESION
          </li>
          <li class="nav-item nav-dropdown">
            <a class="nav-link nav-dropdown-toggle" href="#"><i class="icon-info"></i>Acerca de</a>
            <ul class="nav-dropdown-items">
              <li class="nav-item">
                <a class="nav-link" href="about/aboutus.html"><i class="icon-emotsmile"></i>Quienes somos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about/privacynterms.html"><i class="icon-envelope-letter"></i>Privacidad y terminos</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about/help.html"><i class="icon-question"></i>Ayuda</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="about/tutorial.html"><i class="icon-question"></i>Tutorial</a>
              </li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/login.html"><i class="icon-power"></i>Cerrar sesión</a>
          </li>

        </ul>
      </nav>
      <button class="sidebar-minimizer brand-minimizer" type="button"></button>
    </div>
 