

<div class="animated fadeIn">
    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Vamos a crear la categorias de tu menu</h3>
            <p class="lead">Crea categorias y subcategoria de tu menu</p>
        </div>
    </div>



    <!-- COMFIGURACION DE CATEGORIAS   -->
    <div class="card">
      <!-- TITULO -->
      <div class="card-header">
      <h4 class="card-title">Cafeterias</h4>
      </div>

      <div class="card-body">

        <form>

                <div class="form-group">

                <div class="row">

                  <div class="col-l-12 col-md-12 col-xs-12 ml-auto ">
                    <label >Categoría</label>
                    <input type="text" class="form-control" id="cliente.categoria"  placeholder="[nombre.categoria]">
                    <label >Categoria padre </label>
                    <select type="text" class="form-control" id="cliente.categoria"  placeholder="[Cliente.categoriapadre]">
                      <option>Ninguna</option>
                      <option>Categoria 1</option>
                      <option>Categoria 2</option>
                    </select>

                    </div>
                    </div>
                  </div>

      </form>
        <button  class="btn btn-outline-primary col-auto">Guardar</button>
        <button  class="btn btn-outline-primary col-auto">Cancelar</button>

      </div>
      </div>

  </div>
