<div class="animated fadeIn">



    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Tus finanzas y mas</h3>
            <p class="lead">Revisa y paga tus finanzas con Cuckeat</p>
        </div>
    </div>


    <!-- CUENTA BANCARIA -->
    <div class="row">
        <div class="col-lg-12">
          <div class="card">
            <div class="card-header">
              <strong>Datos de cuenta</strong>
              <small></small>
            </div>
            <div class="card-body">
              <div class="row">

                <div class="col-sm-12">

                  <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" class="form-control" id="name" placeholder="Ingresa los datos como aparecen en tu tarjeta" wtx-context="17E628B6-CA7C-41A9-A14D-96CD9158F9AC">
                  </div>

                </div>

              </div>
              <!--/.row-->

              <div class="row">

                <div class="col-sm-12">

                  <div class="form-group">
                    <label for="ccnumber">Numero de tarjeta</label>
                    <input type="text" class="form-control" id="ccnumber" placeholder="0000 0000 0000 0000" wtx-context="B7C01132-3E73-4015-81CB-B173C52534E8">
                  </div>

                </div>

              </div>
              <!--/.row-->

              <div class="row">

                <div class="form-group col-sm-4">
                  <label for="ccmonth">Mes</label>
                  <select class="form-control" id="ccmonth" wtx-context="E9DE50BF-0040-47AC-815B-8942007C3C7C">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                    <option>6</option>
                    <option>7</option>
                    <option>8</option>
                    <option>9</option>
                    <option>10</option>
                    <option>11</option>
                    <option>12</option>
                  </select>
                </div>

                <div class="form-group col-sm-4">
                  <label for="ccyear">Año</label>
                  <select class="form-control" id="ccyear" wtx-context="3ED643A9-958E-4508-8975-6B6FFE19068A">
                    <option>2014</option>
                    <option>2015</option>
                    <option>2016</option>
                    <option>2017</option>
                    <option>2018</option>
                    <option>2019</option>
                    <option>2020</option>
                    <option>2021</option>
                    <option>2022</option>
                    <option>2023</option>
                    <option>2024</option>
                    <option>2025</option>
                  </select>
                </div>

                <div class="col-sm-4">

                  <div class="form-group">
                    <label for="cvv">CVV</label>
                    <input type="text" class="form-control" id="cvv" placeholder="123" wtx-context="D427FB4B-35FE-4EB1-8C1F-8B66CC541FEA">
                  </div>

                </div>

              </div>
              <!--/.row-->
            </div>
          </div>

        </div>


                <!-- TABLA DE MOVIMIENTOS  -->
    <div class="col-lg-12 col-sm-12">
      <div class="card">
        <div class="card-header">
          <i class="fa fa-id-card"></i> Ingresos
        </div>
        <div class="card-body">
          <table class="table table-responsive-sm table-bordered table-striped table-sm">
            <thead>
              <tr>
                <th>Sesion</th>
                <th>Fecha</th>
                <th>POS/APP</th>
                <th>Status</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>S01032018</td>
                <td>2012/01/01</td>
                <td>POS</td>
                <td>
                  <span class="badge badge-success">Realizado</span>
                </td>
              </tr>
              <tr>
                <td>S01032018</td>
                <td>2012/02/01</td>
                <td>APP</td>
                <td>
                  <span class="badge badge-warning">Pendiente</span>
                </td>
              </tr>
              <tr>
                <td>S01032018</td>
                <td>2012/02/01</td>
                <td>APP</td>
                <td>
                  <span class="badge badge-success">Realizado</span>
                </td>
              </tr>
              <tr>
                <td>S01032018</td>
                <td>2012/03/01</td>
                <td>POS</td>
                <td>
                  <span class="badge badge-warning">Pendiente</span>
                </td>
              </tr>
              <tr>
                <td>S01032018</td>
                <td>2012/01/21</td>
                <td>APP</td>
                <td>
                  <span class="badge badge-success">Realizado</span>
                </td>
              </tr>
            </tbody>
          </table>
          <nav>
            <ul class="pagination">
              <li class="page-item"><a class="page-link" href="#">Atras</a></li>
              <li class="page-item active">
                <a class="page-link" href="#">1</a>
              </li>
              <li class="page-item"><a class="page-link" href="#">2</a></li>
              <li class="page-item"><a class="page-link" href="#">3</a></li>
              <li class="page-item"><a class="page-link" href="#">4</a></li>
              <li class="page-item"><a class="page-link" href="#">Siguiente</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </div>





</div>
  </div>
