<div class="animated fadeIn">



    <!-- Page Header-->
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h3 class="display-4">Tener tus datos actualizados siempre es importante</h3>
            <p class="lead"> Configuremos tus datos personales y empresariales</p>
        </div>
    </div>


      <!-- COMFIGURACION DATOS DE LA CUENTA   -->
      <div class="card">
        <!-- TITULO -->
        <div class="card-header">
        <h4 class="card-title">Datos de la cuenta </h4>
        </div>

        <div class="card-body">

          <form>

                  <div class="form-group ">

                  <div class="row">
                    <div class="col-xs-12 col-md-4 col-lg-3">
                        <img src="img/avatars/avatar.png" class="rounded mx-auto d-block img-fluid" alt="Avatar  ">
                        <input type="file" value="Subir imagen">
                    </div>
                    <div class="col-xs-12 col-md-8 col-lg-9 ml-auto">
                      <fieldset disabled>

                      <label >Nombre</label>
                      <input type="text" class="form-control" id="cliente.nombres"  placeholder="[Cliente.nombre]">

                      <label >Apellido</label>
                      <input type="text" class="form-control" id="cliente.apellidos"  placeholder="[Cliente.apellido]">


                      <label>Correo electronico</label>
                      <input type="email" class="form-control" id="cliente.email"  placeholder="[Cliente.Email]">


                      </fieldset>
                      </div>
                    </div>
                  </div>

        </form>


        <button  class="btn btn-outline-primary col-auto">Guardar</button>

        </div>

      </div>


            <!-- COMFIGURACION DATOS PERSONALES -->
            <div class="card">
              <!-- TITULO -->
              <div class="card-header">
              <h4 class="card-title">Datos personales </h4>
              </div>

              <div class="card-body">

                <form>

                        <div class="form-group ">

                        <div class="row">
                          <div class="col-xs-12 col-md-4 col-lg-3">
                            <label>Celular</label>
                            <input type="tel" class="form-control" id="cliente.telefono" placeholder="[Cliente.telefono]">

                            <label>Fecha de nacimiento</label>
                            <input type="date" class="form-control" id="cliente.fechadenacimiento"  placeholder="[Cliente.fechadenacimiento]">


                            <label >Genero</label>
                            <input type="text" class="form-control" id="cliente.genero"  placeholder="[Cliente.genero]">

                          </div>
                          <div class="col-xs-12 col-md-8 col-lg-9 ml-auto">


                            <label >Calle y numero</label>
                            <input type="text" class="form-control" id="colonia.nombre"  placeholder="[colonia.nombre]">

                            <label >Colonia y municipio</label>
                            <input type="text" class="form-control" id="municipio.nombre"  placeholder="[municipio.nombre]">


                            <label>Estado</label>
                            <input type="text" class="form-control" id="estado.estado"  placeholder="[estado.estado]">



                            </div>
                          </div>
                        </div>

              </form>


              <button  class="btn btn-outline-primary col-auto">Guardar</button>
            </div>
            </div>






            <!-- COMFIGURACION DE CONTRASEÑA   -->
            <div class="card">
              <!-- TITULO -->
              <div class="card-header">
              <h4 class="card-title">Contraseña</h4>
              </div>

              <div class="card-body">

                <form>

                        <div class="form-group">

                        <div class="row">

                          <div class="col-l-4 col-md-4 col-xs-12 ml-auto ">
                            <label >Contraseña actual</label>
                            <input type="password" class="form-control" id="cliente.password"  placeholder="[Cliente.password]">
                            </div>
                                  <div class="col-l-4 col-md-4 col-xs-12 ml-auto">
                                      <label >Contraseña nueva</label>
                                  <input type="password" class="form-control" id="cliente.password"  placeholder="[Cliente.password]">
                                </div>
                            <div class="col-l-4 col-md-4 col-xs-12-auto">
                              <label>Repetir contraseña </label>
                              <input type="password" class="form-control" id="cliente.password"  placeholder="[Cliente.password]">
                            </div>

                            </div>
                          </div>

              </form>
                <button  class="btn btn-outline-primary col-auto">Guardar</button>


              </div>
              </div>

              <!-- COMFIGURACION DE CAFETERIAS   -->
              <div class="card">
                <!-- TITULO -->
                <div class="card-header">
                <h4 class="card-title">Cafeterias</h4>
                </div>

                <div class="card-body">

                  <form>

                          <div class="form-group">

                          <div class="row">

                            <div class="col-l-12 col-md-12 col-xs-12 ml-auto ">
                              <label >Cafeteria [nombre_cafeteria]</label>
                              <input type="text" class="form-control" id="cliente.password"  placeholder="[Cliente.password]">
                              </div>
                              </div>
                            </div>

                </form>
                  <button  class="btn btn-outline-primary col-auto">Agregar</button>
                      <button  class="btn btn-outline-primary col-auto">Copiar configuracion</button>

                </div>
                </div>


              <!-- COMFIGURACION DE NOTIFICACIONES  -->

              <div class="card">
                <!-- TITULO -->
                <div class="card-header">
                <h4 class="card-title">Notificaciones</h4>
                </div>

                <div class="card-body">

                  <form>

                          <div class="form-group">

                          <div class="row">

                            <div class="col-4">
                              <label >Pagos</label> <br>

                              <label class="switch switch-3d switch-info">
                                <input type="checkbox" class="switch-input" checked>
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                                </label>

                              </div>
                                    <div class="col-4">
                                        <label >Promociones</label> <br>
                                        <label class="switch switch-3d switch-info">
                                          <input type="checkbox" class="switch-input" checked>
                                          <span class="switch-label"></span>
                                          <span class="switch-handle"></span>
                                        </label>
                                  </div>
                              <div class="col-4">
                                <label>General</label> <br>
                                <label class="switch switch-3d switch-info">
                                  <input type="checkbox" class="switch-input" checked>
                                  <span class="switch-label"></span>
                                  <span class="switch-handle"></span>
                                </label>
                              </div>

                              </div>
                            </div>

                </form>
                  <button  class="btn btn-outline-primary col-auto">Guardar</button>

                </div>
              </div>




  </div>
